*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
nav {
    width: 100%;
    height: 65px;
    line-height: 75px;
    padding: 0px 100px;
    position: fixed;
    background-color: rgb(41, 67, 142);
}
nav .logo p{
    font-size: 30px;
    font-weight: bold;
    float: left;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    cursor: pointer;

}
nav ul{
    float: right;
}
nav li {
    display: inline-block;
    list-style: none;
}
nav li a {
    font-size: 18px;
    text-transform: uppercase;
    padding: 0px 30px;
    color: white;
    text-decoration: none;
}
nav li a:hover{
    color: orange;
    transition: all 0.4s ease 0s;
}

.content{
    padding: 80px;
    margin: 0px;
}

.blog-box{
    display: flex;
    padding-top: 70px;
    padding-left: 50px;

}
.blog-box-image{
    height: 200px;
    width: 200px;
}
.blog-box-text {
    padding: 0px;
    margin-top: 10%;
    color: black;
    text-decoration: none;
}

.blog-box a {
    text-decoration: none;
}


